@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@400;500&display=swap');
@import "Colors";
@import "Header";
@import "Home";
@import "Cart";
@import "MediaQuery";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anek Telugu';
    text-decoration: none;
}
body
{
    background-color: $primary;
    color: $tertiary;
}